body {
  margin: 0 auto;
  font-family: "Bitter", serif;
}
/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #302f2d;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.push {
  float: right;
  margin-left: auto;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
  text-align: center;
  background-color: #302f2d;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}
