#page-container {
    display: block;
    position: relative;
    min-height: 100vh;
    margin-bottom: 1.2rem;
}

#content-wrap {
    position: fixed;
    display: flex;
    width: 100%; 
    margin: 0%;      
    text-align: center;
}

.welcome {
    width: 100%;
}

#welcome {
    position: absolute;    
    top: 4%;
    left: 30%;
    right: 30%;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    z-index: 5;
    background-color: #302f2d;
    padding: 15px;
    border-radius: 20px;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;   
}